@import 'tailwindcss';

@theme inline {
  --color-background: var(--primary-300);
  --color-foreground: var(--foreground);
}

@layer utilities {
  .blur-\[250px\] {
    filter: blur(250px);
  }
  .section-container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 md:px-8 py-8;
  }
}

@layer theme {
}

@layer base {
  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }
}

@layer components {
  .primary-button {
    cursor: pointer;
    color: white;
    background-color: var(--grey-900);
  }

  .problem-section-card-bg {
    background-color: var(--primary-500);
  }
}

:root {
  --background: #000000;
  --foreground: oklch(0.95 0.01 240);

  /* Desktop / Tablet sizes */
  --font-size-overline-2: 10px;
  --font-size-overline-1: 12px;
  --font-size-caption-3: 12px;
  --font-size-caption-2: 12px;
  --font-size-caption-1: 14px;
  --font-size-body-2: 16px;
  --font-size-body-1: 18px;
  --font-size-heading-5: 24px;
  --font-size-heading-4: 28px;
  --font-size-heading-3: 32px;
  --font-size-heading-2: 38px;
  --font-size-heading-1: 48px;
  --font-size-display-2: 54px;
  --font-size-display-1: 72px;

  --line-height-auto: normal;
  --line-height-140: 140%;
  --line-height-120: 120%;

  /* Primary-white */
  --white-900: #575859;
  --white-800: #707172;
  --white-700: #959798;
  --white-600: #bbbcbf;
  --white-500: #c7c9cb;
  --white-400: #e0e2e5;
  --white-300: #f9fbfe;
  --white-200: #fdfeff;
  --white-100: #fefeff;
  --white-50: #feffff;

  /* Primary - Black */
  --primary-900: #060606;
  --primary-800: #070707;
  --primary-700: #0a0a0a;
  --primary-600: #0c0c0c;
  --primary-500: #0d0d0d;
  --primary-400: #0e0e0e;
  --primary-300: #101010;
  --primary-200: #b5b5b5;
  --primary-100: #dbdbdb;
  --primary-50: #e7e7e7;

  /* Secondary - Picton Blue */
  --secondary-900: #134358;
  --secondary-800: #185670;
  --secondary-700: #1c6b88;
  --secondary-600: #298fbc;
  --secondary-500: #2b99c8;
  --secondary-400: #31ace1;
  --secondary-300: #36bffa;
  --secondary-200: #c1ebfd;
  --secondary-100: #e1f5fe;
  --secondary-50: #ebf9ff;

  /* Error - Carmine Pink */
  --error-900: #541814;
  --error-800: #6c1f19;
  --error-700: #902922;
  --error-600: #b4332a;
  --error-500: #c0362d;
  --error-400: #d83d32;
  --error-300: #f04438;
  --error-200: #fac5c1;
  --error-100: #fde3e1;
  --error-50: #feeceb;

  /* Warning - Bright Yellow */
  --warning-900: #593e0c;
  --warning-800: #814b0d;
  --warning-700: #986a14;
  --warning-600: #be841a;
  --warning-500: #ca8d1b;
  --warning-400: #e49e1f;
  --warning-300: #fdb022;
  --warning-200: #fee7ba;
  --warning-100: #fff3de;
  --warning-50: #fff7e9;

  /* Success - UFO Green */
  --success-900: #124b2e;
  --success-800: #16603b;
  --success-700: #1e804f;
  --success-600: #26a062;
  --success-500: #28aa69;
  --success-400: #2dc076;
  --success-300: #32d583;
  --success-200: #bff2d9;
  --success-100: #e0f9ec;
  --success-50: #ebfbf3;

  /* Info - White */
  --info-900: #575859;
  --info-800: #707172;
  --info-700: #959798;
  --info-600: #bbbcbf;
  --info-500: #c7c9cb;
  --info-400: #e0e2e5;
  --info-300: #f9fbfe;
  --info-200: #fdfeff;
  --info-100: #fefeff;
  --info-50: #feffff;

  /* Text Colo  rs */
  --text-black: #000000;
  --text-grey: #808080;
  --text-light-silver: #d9d9d9;
  --text-flash-white: #f0f0f0;
  --text-white: #ffffff;

  /* other colors */
  --grey-900: #212121;
  --grey-800: #404141;
  --grey-700: #555556;
}

/* Base font settings */
body {
  font-family: var(--font-geist-sans), -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background);
}

/* Monospace utility for code or specific elements */

.mono {
  font-family: var(--font-geist-mono), 'Courier New', Courier, monospace;
}

.jakarta {
  font-family: var(--font-jakarta-sans);
  font-size: 28px;
  line-height: var(--line-height-auto);
  font-weight: 500;
}

.jakarta-sm {
  font-family: var(--font-jakarta-sans);
  font-size: 12px;
  line-height: var(--line-height-auto);
  font-weight: 500;
}
.jakarta-xs {
  font-family: var(--font-jakarta-sans);
  font-size: 6px;
  line-height: var(--line-height-auto);
  font-weight: 500;
}
.jakarta-xxs {
  font-family: var(--font-jakarta-sans);
  font-size: 4px;
  line-height: var(--line-height-auto);
  font-weight: 500;
}

.jakarta-semibold-2 {
  font-size: 36px;
  font-weight: 600;
  line-height: var(--line-height-auto);
}

.jakarta-semibold {
  font-size: 15px;
  line-height: var(--line-height-auto);
  font-weight: 600;
}

.jakarta-semibold-1 {
  font-size: 12px;
  line-height: var(--line-height-auto);
  font-weight: 600;
}

/* Utility classes for applying colors */
.primary-900 {
  color: var(--primary-900);
}
.primary-800 {
  color: var(--primary-800);
}
.primary-700 {
  color: var(--primary-700);
}
.primary-600 {
  color: var(--primary-600);
}
.primary-500 {
  color: var(--primary-500);
}
.primary-400 {
  color: var(--primary-400);
}
.primary-300 {
  color: var(--primary-300);
}
.primary-200 {
  color: var(--primary-200);
}
.primary-100 {
  color: var(--primary-100);
}
.primary-50 {
  color: var(--primary-50);
}

.secondary-900 {
  color: var(--secondary-900);
}
.secondary-800 {
  color: var(--secondary-800);
}
.secondary-700 {
  color: var(--secondary-700);
}
.secondary-600 {
  color: var(--secondary-600);
}
.secondary-500 {
  color: var(--secondary-500);
}
.secondary-400 {
  color: var(--secondary-400);
}
.secondary-300 {
  color: var(--secondary-300);
}
.secondary-200 {
  color: var(--secondary-200);
}
.secondary-100 {
  color: var(--secondary-100);
}
.secondary-50 {
  color: var(--secondary-50);
}

.error-900 {
  color: var(--error-900);
}
.error-800 {
  color: var(--error-800);
}
.error-700 {
  color: var(--error-700);
}
.error-600 {
  color: var(--error-600);
}
.error-500 {
  color: var(--error-500);
}
.error-400 {
  color: var(--error-400);
}
.error-300 {
  color: var(--error-300);
}
.error-200 {
  color: var(--error-200);
}
.error-100 {
  color: var(--error-100);
}
.error-50 {
  color: var(--error-50);
}

.warning-900 {
  color: var(--warning-900);
}
.warning-800 {
  color: var(--warning-800);
}
.warning-700 {
  color: var(--warning-700);
}
.warning-600 {
  color: var(--warning-600);
}
.warning-500 {
  color: var(--warning-500);
}
.warning-400 {
  color: var(--warning-400);
}
.warning-300 {
  color: var(--warning-300);
}
.warning-200 {
  color: var(--warning-200);
}
.warning-100 {
  color: var(--warning-100);
}
.warning-50 {
  color: var(--warning-50);
}

.success-900 {
  color: var(--success-900);
}
.success-800 {
  color: var(--success-800);
}
.success-700 {
  color: var(--success-700);
}
.success-600 {
  color: var(--success-600);
}
.success-500 {
  color: var(--success-500);
}
.success-400 {
  color: var(--success-400);
}
.success-300 {
  color: var(--success-300);
}
.success-200 {
  color: var(--success-200);
}
.success-100 {
  color: var(--success-100);
}
.success-50 {
  color: var(--success-50);
}

.info-900 {
  color: var(--info-900);
}
.info-800 {
  color: var(--info-800);
}
.info-700 {
  color: var(--info-700);
}
.info-600 {
  color: var(--info-600);
}
.info-500 {
  color: var(--info-500);
}
.info-400 {
  color: var(--info-400);
}
.info-300 {
  color: var(--info-300);
}
.info-200 {
  color: var(--info-200);
}
.info-100 {
  color: var(--info-100);
}
.info-50 {
  color: var(--info-50);
}

.text-black {
  color: var(--text-black);
}
.text-grey {
  color: var(--text-grey);
}
.text-light-silver {
  color: var(--text-light-silver);
}
.text-flash-white {
  color: var(--text-flash-white);
}
.text-white {
  color: var(--text-white);
}

/* Background utility classes */
.bg-primary-900 {
  background-color: var(--primary-900);
}
.bg-primary-800 {
  background-color: var(--primary-800);
}
.bg-primary-700 {
  background-color: var(--primary-700);
}
.bg-primary-600 {
  background-color: var(--primary-600);
}
.bg-primary-500 {
  background-color: var(--primary-500);
}
.bg-primary-400 {
  background-color: var(--primary-400);
}
.bg-primary-300 {
  background-color: var(--primary-300);
}
.bg-primary-200 {
  background-color: var(--primary-200);
}
.bg-primary-100 {
  background-color: var(--primary-100);
}
.bg-primary-50 {
  background-color: var(--primary-50);
}

.bg-secondary-900 {
  background-color: var(--secondary-900);
}
.bg-secondary-800 {
  background-color: var(--secondary-800);
}
.bg-secondary-700 {
  background-color: var(--secondary-700);
}
.bg-secondary-600 {
  background-color: var(--secondary-600);
}
.bg-secondary-500 {
  background-color: var(--secondary-500);
}
.bg-secondary-400 {
  background-color: var(--secondary-400);
}
.bg-secondary-300 {
  background-color: var(--secondary-300);
}
.bg-secondary-200 {
  background-color: var(--secondary-200);
}
.bg-secondary-100 {
  background-color: var(--secondary-100);
}
.bg-secondary-50 {
  background-color: var(--secondary-50);
}

.bg-error-900 {
  background-color: var(--error-900);
}
.bg-error-800 {
  background-color: var(--error-800);
}
.bg-error-700 {
  background-color: var(--error-700);
}
.bg-error-600 {
  background-color: var(--error-600);
}
.bg-error-500 {
  background-color: var(--error-500);
}
.bg-error-400 {
  background-color: var(--error-400);
}
.bg-error-300 {
  background-color: var(--error-300);
}
.bg-error-200 {
  background-color: var(--error-200);
}
.bg-error-100 {
  background-color: var(--error-100);
}
.bg-error-50 {
  background-color: var(--error-50);
}

.bg-warning-900 {
  background-color: var(--warning-900);
}
.bg-warning-800 {
  background-color: var(--warning-800);
}
.bg-warning-700 {
  background-color: var(--warning-700);
}
.bg-warning-600 {
  background-color: var(--warning-600);
}
.bg-warning-500 {
  background-color: var(--warning-500);
}
.bg-warning-400 {
  background-color: var(--warning-400);
}
.bg-warning-300 {
  background-color: var(--warning-300);
}
.bg-warning-200 {
  background-color: var(--warning-200);
}
.bg-warning-100 {
  background-color: var(--warning-100);
}
.bg-warning-50 {
  background-color: var(--warning-50);
}

.bg-success-900 {
  background-color: var(--success-900);
}
.bg-success-800 {
  background-color: var(--success-800);
}
.bg-success-700 {
  background-color: var(--success-700);
}
.bg-success-600 {
  background-color: var(--success-600);
}
.bg-success-500 {
  background-color: var(--success-500);
}
.bg-success-400 {
  background-color: var(--success-400);
}
.bg-success-300 {
  background-color: var(--success-300);
}
.bg-success-200 {
  background-color: var(--success-200);
}
.bg-success-100 {
  background-color: var(--success-100);
}
.bg-success-50 {
  background-color: var(--success-50);
}

.bg-info-900 {
  background-color: var(--info-900);
}
.bg-info-800 {
  background-color: var(--info-800);
}
.bg-info-700 {
  background-color: var(--info-700);
}
.bg-info-600 {
  background-color: var(--info-600);
}
.bg-info-500 {
  background-color: var(--info-500);
}
.bg-info-400 {
  background-color: var(--info-400);
}
.bg-info-300 {
  background-color: var(--info-300);
}
.bg-info-200 {
  background-color: var(--info-200);
}
.bg-info-100 {
  background-color: var(--info-100);
}
.bg-info-50 {
  background-color: var(--info-50);
}

.bg-text-black {
  background-color: var(--text-black);
}
.bg-text-grey {
  background-color: var(--text-grey);
}
.bg-text-light-silver {
  background-color: var(--text-light-silver);
}
.bg-text-flash-white {
  background-color: var(--text-flash-white);
}
.bg-text-white {
  background-color: var(--text-white);
}

/* fonts */

:root {
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

/* Default (Desktop) Typography */
.overline-2 {
  font-weight: var(--font-weight-regular);
  font-size: 10px;
  line-height: normal;
}
.overline-2--medium {
  font-weight: var(--font-weight-medium);
  font-size: 10px;
  line-height: normal;
}
.overline-2--semibold {
  font-weight: var(--font-weight-semibold);
  font-size: 10px;
  line-height: normal;
}
.overline-2--bold {
  font-weight: var(--font-weight-bold);
  font-size: 10px;
  line-height: normal;
}

.overline-1 {
  font-weight: var(--font-weight-regular);
  font-size: 12px;
  line-height: normal;
}
.overline-1--medium {
  font-weight: var(--font-weight-medium);
  font-size: 12px;
  line-height: normal;
}
.overline-1--semibold {
  font-weight: var(--font-weight-semibold);
  font-size: 12px;
  line-height: normal;
}
.overline-1--bold {
  font-weight: var(--font-weight-bold);
  font-size: 12px;
  line-height: normal;
}

.caption-2 {
  font-weight: var(--font-weight-regular);
  font-size: 12px;
  line-height: normal;
}
.caption-2--medium {
  font-weight: var(--font-weight-medium);
  font-size: 12px;
  line-height: normal;
}
.caption-2--semibold {
  font-weight: var(--font-weight-semibold);
  font-size: 12px;
  line-height: normal;
}
.caption-2--bold {
  font-weight: var(--font-weight-bold);
  font-size: 12px;
  line-height: normal;
}

.caption-1 {
  font-weight: var(--font-weight-regular);
  font-size: 14px;
  line-height: 140%;
}
.caption-1--medium {
  font-weight: var(--font-weight-medium);
  font-size: 14px;
  line-height: 140%;
}
.caption-1--semibold {
  font-weight: var(--font-weight-semibold);
  font-size: 14px;
  line-height: 140%;
}
.caption-1--bold {
  font-weight: var(--font-weight-bold);
  font-size: 14px;
  line-height: 140%;
}

.body-2 {
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  line-height: 140%;
}
.body-2--medium {
  font-weight: var(--font-weight-medium);
  font-size: 16px;
  line-height: 140%;
}
.body-2--semibold {
  font-weight: var(--font-weight-semibold);
  font-size: 16px;
  line-height: 140%;
}
.body-2--bold {
  font-weight: var(--font-weight-bold);
  font-size: 16px;
  line-height: 140%;
}

.body-1 {
  font-weight: var(--font-weight-regular);
  font-size: 18px;
  line-height: 140%;
}
.body-1--medium {
  font-weight: var(--font-weight-medium);
  font-size: 18px;
  line-height: 140%;
}
.body-1--semibold {
  font-weight: var(--font-weight-semibold);
  font-size: 18px;
  line-height: 140%;
}
.body-1--bold {
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  line-height: 140%;
}

.heading-6 {
  font-weight: var(--font-weight-regular);
  font-size: 20px;
  line-height: 120%;
}
.heading-6--medium {
  font-weight: var(--font-weight-medium);
  font-size: 20px;
  line-height: 120%;
}
.heading-6--semibold {
  font-weight: var(--font-weight-semibold);
  font-size: 20px;
  line-height: 120%;
}
.heading-6--bold {
  font-weight: var(--font-weight-bold);
  font-size: 20px;
  line-height: 120%;
}

.heading-5 {
  font-weight: var(--font-weight-regular);
  font-size: 24px;
  line-height: 120%;
}
.heading-5--medium {
  font-weight: var(--font-weight-medium);
  font-size: 24px;
  line-height: 120%;
}
.heading-5--semibold {
  font-weight: var(--font-weight-semibold);
  font-size: 24px;
  line-height: 120%;
}
.heading-5--bold {
  font-weight: var(--font-weight-bold);
  font-size: 24px;
  line-height: 120%;
}

.heading-4 {
  font-weight: var(--font-weight-regular);
  font-size: 28px;
  line-height: 120%;
}
.heading-4--medium {
  font-weight: var(--font-weight-medium);
  font-size: 28px;
  line-height: 120%;
}
.heading-4--semibold {
  font-weight: var(--font-weight-semibold);
  font-size: 28px;
  line-height: 120%;
}
.heading-4--bold {
  font-weight: var(--font-weight-bold);
  font-size: 28px;
  line-height: 120%;
}

.heading-3 {
  font-weight: var(--font-weight-regular);
  font-size: 32px;
  line-height: 120%;
}
.heading-3--medium {
  font-weight: var(--font-weight-medium);
  font-size: 32px;
  line-height: 120%;
}
.heading-3--semibold {
  font-weight: var(--font-weight-semibold);
  font-size: 32px;
  line-height: 120%;
}
.heading-3--bold {
  font-weight: var(--font-weight-bold);
  font-size: 32px;
  line-height: 120%;
}

.heading-2 {
  font-weight: var(--font-weight-regular);
  font-size: 38px;
  line-height: 120%;
}
.heading-2--medium {
  font-weight: var(--font-weight-medium);
  font-size: 38px;
  line-height: 120%;
}
.heading-2--semibold {
  font-weight: var(--font-weight-semibold);
  font-size: 38px;
  line-height: 120%;
}
.heading-2--bold {
  font-weight: var(--font-weight-bold);
  font-size: 38px;
  line-height: 120%;
}

.heading-1 {
  font-weight: var(--font-weight-regular);
  font-size: 48px;
  line-height: 120%;
}
.heading-1--medium {
  font-weight: var(--font-weight-medium);
  font-size: 48px;
  line-height: 120%;
}
.heading-1--semibold {
  font-weight: var(--font-weight-semibold);
  font-size: 48px;
  line-height: 120%;
}
.heading-1--bold {
  font-weight: var(--font-weight-bold);
  font-size: 48px;
  line-height: 120%;
}

.display-2 {
  font-weight: var(--font-weight-regular);
  font-size: 54px;
  line-height: 120%;
}
.display-2--medium {
  font-weight: var(--font-weight-medium);
  font-size: 54px;
  line-height: 120%;
}
.display-2--semibold {
  font-weight: var(--font-weight-semibold);
  font-size: 54px;
  line-height: 120%;
}
.display-2--bold {
  font-weight: var(--font-weight-bold);
  font-size: 54px;
  line-height: 120%;
}

.display-1 {
  font-weight: var(--font-weight-regular);
  font-size: 72px;
  line-height: 120%;
}
.display-1--medium {
  font-weight: var(--font-weight-medium);
  font-size: 72px;
  line-height: 120%;
}
.display-1--semibold {
  font-weight: var(--font-weight-semibold);
  font-size: 72px;
  line-height: 120%;
}
.display-1--bold {
  font-weight: var(--font-weight-bold);
  font-size: 72px;
  line-height: 120%;
}

/* Mobile Typography */
@media (max-width: 768px) {
  .overline-2,
  .overline-2--medium,
  .overline-2--semibold,
  .overline-2--bold {
    font-size: 8px;
    line-height: normal;
  }

  .overline-1,
  .overline-1--medium,
  .overline-1--semibold,
  .overline-1--bold {
    font-size: 10px;
    line-height: normal;
  }

  .caption-3,
  .caption-3--medium,
  .caption-3--semibold,
  .caption-3--bold {
    font-size: 10px;
    line-height: normal;
  }

  .caption-2,
  .caption-2--medium,
  .caption-2--semibold,
  .caption-2--bold {
    font-size: 12px;
    line-height: normal;
  }

  .caption-1,
  .caption-1--medium,
  .caption-1--semibold,
  .caption-1--bold {
    font-size: 13px;
    line-height: 140%;
  }

  .body-2,
  .body-2--medium,
  .body-2--semibold,
  .body-2--bold {
    font-size: 12px;
    line-height: 140%;
  }

  .body-1,
  .body-1--medium,
  .body-1--semibold,
  .body-1--bold {
    font-size: 14px;
    line-height: 140%;
  }

  .heading-5,
  .heading-5--medium,
  .heading-5--semibold,
  .heading-5--bold {
    font-size: 14px;
    line-height: 120%;
  }

  .heading-4,
  .heading-4--medium,
  .heading-4--semibold,
  .heading-4--bold {
    font-size: 16px;
    line-height: 120%;
  }

  .heading-3,
  .heading-3--medium,
  .heading-3--semibold,
  .heading-3--bold {
    font-size: 18px;
    line-height: 120%;
  }

  .heading-2,
  .heading-2--medium,
  .heading-2--semibold,
  .heading-2--bold {
    font-size: 20px;
    line-height: 120%;
  }

  .heading-1,
  .heading-1--medium,
  .heading-1--semibold,
  .heading-1--bold {
    font-size: 24px;
    line-height: 120%;
  }

  .display-2,
  .display-2--medium,
  .display-2--semibold,
  .display-2--bold {
    font-size: 28px;
    line-height: 120%;
  }

  .display-1,
  .display-1--medium,
  .display-1--semibold,
  .display-1--bold {
    font-size: 34px;
    line-height: 120%;
  }
}

/* other classes */

/* works section card bg */

.card-grey {
  background-color: var(--grey-900);
}
.card-black {
  background-color: var(--primary-500);
}

.glow-background-2 {
  width: 40vw;
  height: 30vw;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  opacity: 0.2;
  background-color: #bfdbfe;
  border: 1px solid black;
  border-radius: 9999px;
  filter: blur(15vw);
  pointer-events: none;
  z-index: 0;
}

.glow-background {
  width: 40vw;
  height: 40vw;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  opacity: 0.2;
  background-color: #bfdbfe;
  border: 1px solid black;
  border-radius: 9999px;
  filter: blur(15vw);
  pointer-events: none;
  z-index: 0;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .glow-background {
    width: 50vw;
    height: 50vw;
    filter: blur(25vw);
  }
}

/* Media query for very small screens */
@media (max-width: 480px) {
  .glow-background {
    width: 60vw;
    height: 60vw;
    filter: blur(30vw);
  }
}
.image-section-bg {
  background-image: url('/LoginPageImage.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 1310px) {
  .hide-below-1310 {
    display: none;
  }
}

/* styles/Gradient.module.css */

.gradient {
  background: linear-gradient(
    to right,
    rgba(62, 62, 62, 0.2),
    rgba(31, 31, 31, 1) 37%,
    rgba(31, 31, 31, 0.5) 66%,
    rgba(62, 62, 62, 0.2)
  );

  width: 100%; /* Full width */
}
